<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <!-- Font Nunito -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- Font Jomhuria -->
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <!-- Styles -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
    <title>Document</title>
</head>

<body>
    <header>
        BOOLPRESS
    </header>
    {% block content %}
    {% endblock %}

</body>

</html>